#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <180>;
};

&trackball {
    // automouse-layer = <4>;

    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <11 12>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
        };

        nyoro {
            bindings = <&kp GRAVE>;
            key-positions = <6 7>;
        };

        bq {
            bindings = <&kp BACKSLASH>;
            key-positions = <30 31>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        // Shifted symbols for Remote Desktop compatibility
        m_excl: m_excl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N1>, <&macro_release &kp LSHFT>;
        };
        m_at: m_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N2>, <&macro_release &kp LSHFT>;
        };
        m_hash: m_hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N3>, <&macro_release &kp LSHFT>;
        };
        m_dllr: m_dllr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N4>, <&macro_release &kp LSHFT>;
        };
        m_prcnt: m_prcnt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N5>, <&macro_release &kp LSHFT>;
        };
        m_caret: m_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N6>, <&macro_release &kp LSHFT>;
        };
        m_amps: m_amps {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N7>, <&macro_release &kp LSHFT>;
        };
        m_star: m_star {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N8>, <&macro_release &kp LSHFT>;
        };
        m_lpar: m_lpar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N9>, <&macro_release &kp LSHFT>;
        };
        m_rpar: m_rpar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N0>, <&macro_release &kp LSHFT>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "hold-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 6 Q           &kp W         &kp E             &kp R                   &kp T                                                   &kp Y                  &kp U  &kp I      &kp O    &kp P
&mt LCTRL A       &kp S         &kp D             &mt LEFT_CONTROL F      &kp G        &none                       &kp MINUS      &kp H                  &kp J  &lt 5 K    &kp L    &mt RIGHT_ALT SQT
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V                   &kp B        &kp LEFT_WIN                &kp SEMICOLON  &kp N                  &kp M  &kp COMMA  &kp DOT  &lt 1 SLASH
&kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &lt_to_layer_0 3 LANG2  &lt 1 SPACE  &lt_to_layer_0 2 LANG1      &kp BACKSPACE  &mt RIGHT_SHIFT ENTER                             &kp ESC
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        ARROW {
            bindings = <
&kp ESCAPE        &trans  &trans  &trans  &trans                       &none           &kp HOME        &kp END       &none            &none
&kp LEFT_CONTROL  &trans  &trans  &trans  &trans  &trans      &none    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&kp LEFT_SHIFT    &trans  &trans  &trans  &trans  &trans      &none    &none           &none           &none         &none            &none
&trans            &trans  &trans  &trans  &trans  &trans      &kp DEL  &trans                                                         &none
            >;

            sensor-bindings = <&inc_dec_kp LC(K_SCROLL_UP) LC(K_SCROLL_DOWN)>;
        };

        SYMBOL {
            bindings = <
&m_excl           &m_at   &m_hash  &m_dllr  &m_prcnt                      &m_caret  &m_amps  &m_star  &kp EQUAL  &kp BACKSLASH
&kp LEFT_CONTROL  &none   &none    &none    &none     &none       &none   &none     &m_lpar  &m_rpar  &none      &kp GRAVE
&kp LEFT_SHIFT    &none   &none    &none    &none     &none       &none   &none     &kp LBKT &kp RBKT &none      &none
&none             &none   &none    &trans   &trans    &trans      &trans  &trans                                &none
            >;
        };

        NUM {
            bindings = <
&kp ESC           &none  &none  &none   &kp F7                       &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp PLUS
&kp LEFT_CONTROL  &none  &none  &kp F2  &kp F10  &none       &trans  &none      &kp N4  &kp N5  &kp N6  &kp ASTERISK
&kp LEFT_SHIFT    &none  &none  &none   &kp F6   &none       &none   &kp N0     &kp N7  &kp N8  &kp N9  &kp SLASH
&none             &none  &none  &trans  &trans   &trans      &trans  &trans                             &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &mkp MB4  &mkp MB3  &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &trans    &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
